.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(135deg, #1e1e2f, #0f2027);
  border-radius: 8px;
}

.text-content {
  flex: 1;
}

.header-img {
  width: 200px;
  height: fit-content;
  border-radius: 8px;
  object-fit: cover;
}
