@import url("_variables.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--light-color);
}

.text-content {
  flex: 1;
  color: var(--text-color);
}

.header-img {
  max-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header-img {
    max-width: 100%;
    margin-top: 20px;
  }
}
