@import url("_variables.css");

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
