@import url("_variables.css");

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--background-color);
  padding: 10px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin: 5px 10px;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar a {
    margin: 10px 0;
  }
}
